/* Estilos personalizados */
body {
    background-color: #f0f0f0; /* Cor de fundo */
    color: #333; /* Cor do texto */
}

.container {
    background-color: #fff; /* Cor de fundo do container */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007BFF; /* Cor do título principal */
}

/* Estilos para detalhes */
.row {
    margin-bottom: 20px;
}

.col-sm-2 {
    font-weight: bold;
    color: #007BFF; /* Cor do rótulo de detalhes */
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Estilos para botões */
.btn-primary {
    background-color: #007BFF; /* Cor de fundo do botão principal */
    border-color: #007BFF;
}

.btn-primary:hover {
    background-color: #0056b3; /* Cor de fundo do botão principal ao passar o mouse */
    border-color: #0056b3;
}

/* Estilos para links */
a {
    color: #007BFF; /* Cor do link */
}

a:hover {
    color: #0056b3; /* Cor do link ao passar o mouse */
}
